{% extends "teabookings/layout.html" %}
{% load static %}

{% block body %}

  <a  href="{% url 'tealessons' %}" class="btn btn-primary">X</a>
  <div class="container detail-card" >
    <h2 >{{ lesson.name }}</h2>
    <img class="detailimg" src="{{ lesson.imgUrl }}" alt="{{ lesson.name }}" style="width:40%; max-height:400px; object-fit:cover;  border-radius: 2%;">
    <div style="margin:1%">
      <p><strong>History:</strong> {{ lesson.history }}</p>
      <p><strong>Price:</strong> {{ lesson.price }}$</p>
      <p><strong>Items Needed:</strong> {{ lesson.itemsNeeded }}</p>
      <p><strong>Time:</strong> {{ lesson.time }} minutes</p>
      <p><strong>Difficulty:</strong> {{ lesson.difficulty }}</p>
      {% if user.is_authenticated  %}
        {% if favInfo %}
          <form method="POST" action="{% url 'removeFavList' lesson.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger fav ">Remove from Favorites</button>
          </form>
        {% else %}
          <form method="POST" action="{% url 'addFavList' lesson.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-warning fav ">Favorite</button>
          </form>
        {% endif %}
      {% endif %}

      {% if user.is_authenticated %}
        <form method="POST" action="{% url 'add_to_cart' lesson.id %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">Add to Cart</button>
        </form>
      {% else %}
        <p class="info">Please Log In to Book a class</p>
      {% endif %}
    </div>    
  </div>
  
{% endblock %}
