{% extends "teabookings/layout.html" %}
{% load static %}

{% block body %}
    <h3 class="main-heading"> Welcome to Satori Sips 🍵</h3>
    <h4 class="main-heading"> 悟りの一口 </h4>
    <div class="container text-center main-content">
        <div class="row">
          <div class="col">
            <img src="{% static 'teabookings/images/branding.jpg' %}" alt="Tea Ceremony">
          </div>
          <div class="col">
            <p class="main-introduction">Welcome! I am thrilled to share my passion for the art of tea with you. My name is Takeshi Yamamoto, and for several years, I have had the honor of being a renowned tea-making teacher. Through my classes, I offer an immersive experience into the rich history and delicate rituals of this ancient practice, allowing you to discover the harmony, mindfulness, and beauty that tea brings to our lives. Whether you're a beginner or expert, I invite you to join me in exploring the world of Japanese tea. Book classes with me and I'll dive into each and every step traditionally while we learn more about the preparation.</p>
            
          </div>

        </div>
      </div>
{% endblock %}