{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Satori Sips{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'teabookings/styles.css' %}" rel="stylesheet">
    {% block script %}
      <script src="{% static 'teabookings/functionality.js' %}"></script>
    {% endblock %}
  </head>
  <body>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'tealessons' %}">Classes</a>
      </li>
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'displaycart' %}"> 🛒 Shopping Cart (<span class="cart-count">{{ cart_count }}</span>)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'displaybookings' %}">Bookings</a>
        </li>
        <li>
          <a class="nav-link" href="{% url 'displayFavorite' %}">Favorites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
      {% endif %}
    </ul>
    <p>
      {% if user.is_authenticated %}
        <h6 class="greeting" > Greetings! <strong>{{ user.username }}</strong></h6>
      {% endif %}
    </p>
    <hr>
    {% block body %}
    {% endblock %}
  </body>
</html>
